<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <div style="text-align: right">
            {% if request.user.is_authenticated %}
                {{ request.user.username }}
                <form action="{% url 'logout' %}" method="post" style="display: inline">
                    {% csrf_token %}
                    <button>로그아웃</button>
                </form>
            {% else %}
                <script>
                    window.location.href = "{% url 'login' %}";
                </script>
            {% endif %}
        </div>
    </nav>

    {% block content %}

    {% endblock %}
</body>
</html>